.design {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 4px;
}
.title{
    font-weight: 800;
    padding: 16px;
}

mat-card {
    @media (max-width: 720px){
        min-height: 120px;
    }
}